<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
    constants = {
      signIn: '@Url.RouteUrl("default", new {controller = "User", action = "SignIn" },"http")',
      signUp: '@Url.RouteUrl("default", new {controller = "User", action = "SignUp" }, "http")',
      newImage: '@Url.RouteUrl("default", new {controller = "Image", action = "ImportImage" }, "http")',
      getImages: '@Url.RouteUrl("default", new {controller = "Image", action = "GetImages", page = "" }, "http")',
      removeImage: '@Url.RouteUrl("default", new {controller = "Image", action = "RemoveImage", id = "" }, "http")',
      getPagesCount: '@Url.RouteUrl("default", new {controller = "Image", action = "GetPagesCount" }, "http")'
    }
  </script>
  <meta name="viewport" content="width=device-width" />
  <title>Pics</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <style>

    a {
      cursor: pointer;
    }

    .help-block {
      font-size: 12px;
    }
  </style>
</head>
<body>
  <div id="app"></div>
  <script type="text/javascript" src="~/ClientApp/bundle/bundle.js" asp-append-version="true"></script>
</body>
</html>
